@media(max-width:767px) {
/*mobile devices*/
    .navbar-nav >li>a{
       color: #00aff0;
       padding: 6px 20px;
       -webkit-transition: font-size 0.5s ease;
       -moz-transition: font-size 0.5s ease;
       -o-transition: font-size 0.5s ease;
       transition: font-size 0.5s ease;
   }

   .navbar-nav>li>a:hover,
   .navbar-nav>li>a:focus{
       background: #fff;
       width: 100%;
       color: #00aff0;
       font-size: 25px;
   }
   .our-team .person .person-image{
       width: 75%;
   } 
   .our-team .person .person-image:hover .contact-with-person{
       bottom: 12px;
   } 
.our-services .services .service h2{
    margin: 15px 10px;
    font-size: 18px;
}
.our-services .services .service i{
    top : -15px;
    left: 100px;
}
.contact-us .contact-us-left-background .contact-us-left-opacity .contact-us-form .col-centered{
        position: inherit;
        margin: 25px auto 0;
    }
    .contact-us .contact-us-title{
        position: absolute;
        z-index: 9999;
        left: 35%;
    }
    .contact-us .contact-us-right-opacity .contact-us-info{
        left: 5%;

    }
    
    .contact-us .contact-us-right-opacity .contact-us-info ul{
        font-size: 15px;
    }
    
    .contact-us .contact-us-right-opacity .contact-us-info ul li .fa{
        
        width: 50px;
        font-size: 20px;
        border-radius: 50%;
        margin-right: 15px;
    }

.social-btns {
    width: 75%;
}
.social-btns .btn {
    margin: 5px;
}
}
@media (min-width: 768px){
/*tablet and small laptop*/
}
@media (min-width: 992px){
  /*medium screen such as laptops*/
}
@media (min-width: 1200px){
    /*large screen desktop*/
}